/* One column layout for small screens */
@media (max-width: 340px) {
    .card-container {
      grid-template-columns: 1fr !important;
    }
  }
  
  @media (min-width: 341px) and (max-width: 440px) {
    .card-container {
      width: 70%;
    }
  }
  @media (min-width: 441px) and (max-width: 667px) {
    .card-container {
      grid-template-columns: repeat(2, 1fr) !important;
    }
  }
  
  @media (min-width: 667px) and (max-width: 767px) {
    .card-container {
      grid-template-columns: repeat(3, 1fr) !important;
    }
  }
  @media (min-width: 768px) and (max-width:992px) {
    .card-container {
      grid-template-columns: repeat(2, 1fr) !important;
    }
  }

  @media (min-width:992px) {
    .card-container {
      grid-template-columns: repeat(4, 1fr) !important;
    }
  }
  