.style-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #374151 transparent;
  }
  

.custom-dropdown {
  background-color: #374151; 
  color: white;
  width: 80px;
}


.custom-dropdown option {
  background-color: #374151;
  color: white;
}

